.notification-row {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  background-color: white;
}

.notification-row.unread {
  background-color: var(--color-card-border);
  color: var(--color-font-primary);
  font-weight: bold;
}

.notification-row.read {
  opacity: 0.7;
}
